<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tc.db.MemberMapper">
	<insert id="join" parameterType="com.tc.model.memberDTO">
		INSERT INTO USERS (USER_ID,
		USER_PW, USER_NICK, USER_PROFILE, USER_PREFERENCE, JOINED_AT)
		VALUES
		(#{user_id}, #{user_pw}, #{user_nick},
		'default_profile.png',
		NULL , SYSDATE)
	</insert>

	<select id="login" parameterType="com.tc.model.memberDTO"
		resultType="com.tc.model.memberDTO">
		SELECT *
		FROM USERS
		WHERE USER_ID = #{user_id} AND USER_PW = #{user_pw}
	</select>
	
	<update id="userUpdate" parameterType="com.tc.model.memberDTO">
		UPDATE USERS
		SET <if test="user_pw != null and user_nick == null"> user_pw = #{user_pw}</if>
			<if test="user_nick != null and user_pw == null"> user_nick = #{user_nick}</if>
		WHERE USER_ID = #{user_id}
	</update>
	
	<update id="updateImg" parameterType="com.tc.model.memberDTO">
		UPDATE USERS
		SET USER_PROFILE = #{user_profile}
		WHERE USER_ID = #{user_id}
	</update>
</mapper>